<div class="equal-width" (click)="passData()">
  <h1>Hey there, this is parent component...!</h1>
  Please click me to pass data
</div>

<div class="equal-width">
  <h2>This is child component</h2>
  <app-child-component [parentData]="parentData"></app-child-component>
</div>