.equal-width {
    width: 50%;
    border: 1px solid #abceda;
    min-height: 25vh;
    border-radius: 15px;
    display: inline-block;
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
}